body {
  font-family: Verdana, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}

h1 {
  font-family: veranda;
  font-weight: normal;
  font-size: 50px;
  text-align: center;
  color: white;
}

.cta {
  font-size: 16px;
  color: Aquamarine;
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
}

video {
  object-fit: contain;
}
